.restaurants {
    background-color: $color-section-background;
    margin-top: 51px;
    padding: 53px 20px 0 20px;
  
    .restaurants__title {
      margin-bottom: 22px;
    }

    .restaurants__card {
        border-radius: 15px;
        @include card-shadow;
        margin-bottom: 16px;
        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 175px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
    
        div {
          display: flex;
          justify-content: space-between;
          padding: 11px 20px 14px 13px;
          line-height: 1.4;
        }
      }
  }