*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 2.8rem; }

h2 {
  font-size: 1.6rem;
  font-weight: 400; }

h3 {
  font-size: 1.8rem; }

button {
  position: relative;
  z-index: 1;
  color: white;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 95%);
  box-shadow: 0px 4px 7px 0px rgba(110, 110, 110, 0.4); }
  button:focus {
    outline: none; }
  button:hover::after {
    opacity: 1; }
  button::after {
    content: "";
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(175deg, #ff93e1 0%, #a16be0 95%);
    z-index: -1;
    opacity: 0;
    transition: opacity 250ms;
    box-shadow: 0px 4px 15px 0px rgba(110, 110, 110, 0.4); }

.restaurant-header {
  display: flex;
  justify-content: space-between; }
  .restaurant-header__name {
    padding-left: 5px;
    margin-bottom: 30px; }
  .restaurant-header__like {
    padding-right: 40px;
    padding-top: 3px; }
    .restaurant-header__like.fa-heart::after {
      top: 3px; }

.dishe-card {
  box-shadow: 0px 3px 10px -1px rgba(110, 110, 110, 0.3);
  margin-bottom: 14px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  -webkit-animation: entrance 0.8s backwards ease-in-out;
          animation: entrance 0.8s backwards ease-in-out; }
  .dishe-card__infos {
    text-overflow: ellipsis;
    padding: 12px 0px 9px 11px;
    overflow: hidden;
    line-height: 1.4;
    display: flex;
    flex-grow: 1;
    justify-content: space-between; }
    .dishe-card__infos__container {
      overflow: hidden;
      text-overflow: ellipsis; }
    .dishe-card__infos__name {
      font-size: 18px;
      margin-bottom: 5px;
      white-space: nowrap;
      display: inline; }
    .dishe-card__infos__details {
      font-size: 1.5rem;
      white-space: nowrap;
      display: inline; }
    .dishe-card__infos__price {
      padding: 0 22px 0 3px;
      font-weight: 600;
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
  .dishe-card__checkbox {
    background-color: #99E2d0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: 400ms linear;
    width: 65px;
    margin-right: -65px;
    transform-origin: right center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dishe-card__checkbox .fas {
      color: white;
      font-size: 1.9rem;
      transition: 400ms linear; }
  .dishe-card:hover .dishe-card__checkbox {
    margin-right: 0px; }
    .dishe-card:hover .dishe-card__checkbox .fas {
      transform: rotate(360deg); }
  .dishe-card--1 {
    -webkit-animation-delay: 0.125s;
            animation-delay: 0.125s; }
  .dishe-card--2 {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s; }
  .dishe-card--3 {
    -webkit-animation-delay: 0.375s;
            animation-delay: 0.375s; }
  .dishe-card--4 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }

@-webkit-keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.dishe-card-new {
  box-shadow: 0px 3px 10px -1px rgba(110, 110, 110, 0.3);
  margin-bottom: 14px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  -webkit-animation: entrance 0.8s backwards ease-in-out;
          animation: entrance 0.8s backwards ease-in-out; }
  .dishe-card-new__infos {
    text-overflow: ellipsis;
    padding: 12px 0px 9px 11px;
    overflow: hidden;
    line-height: 1.4;
    display: flex;
    flex-grow: 1;
    justify-content: space-between; }
    .dishe-card-new__infos__container {
      overflow: hidden;
      text-overflow: ellipsis; }
    .dishe-card-new__infos__name {
      font-size: 18px;
      margin-bottom: 5px;
      white-space: nowrap;
      display: inline; }
    .dishe-card-new__infos__details {
      font-size: 1.5rem;
      white-space: nowrap;
      display: inline; }
    .dishe-card-new__infos__price {
      padding: 0 22px 0 3px;
      font-weight: 600;
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
  .dishe-card-new__checkbox {
    background-color: #99E2d0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: 1s;
    width: 65px;
    margin-right: -65px;
    transform-origin: right center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dishe-card-new__checkbox .fas {
      color: white;
      font-size: 1.9rem;
      transition: 700ms linear; }
  .dishe-card-new:hover .dishe-card-new__checkbox {
    margin-right: 0px; }
    .dishe-card-new:hover .dishe-card-new__checkbox .fas {
      transform: rotate(360deg); }
  .dishe-card-new--1 {
    -webkit-animation-delay: 0.125s;
            animation-delay: 0.125s; }
  .dishe-card-new--2 {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s; }
  .dishe-card-new--3 {
    -webkit-animation-delay: 0.375s;
            animation-delay: 0.375s; }
  .dishe-card-new--4 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }

.fa-heart {
  cursor: pointer;
  position: relative;
  font-size: 2.2rem;
  margin-top: 6px;
  margin-right: 6px;
  height: 22px;
  width: 22px;
  z-index: 1; }
  .fa-heart::before {
    opacity: 1;
    transition: opacity 500ms 350ms ease-in-out; }
  .fa-heart::after {
    content: "\f004";
    font-weight: 900;
    position: absolute;
    height: 22px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(90deg, #FF79DA 40%, #9356DC 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out; }
  .fa-heart:hover::after {
    opacity: 1; }
  .fa-heart:hover::before {
    opacity: 0; }

.loader::before {
  content: "";
  top: 0;
  position: fixed;
  background: #F5EDFF;
  z-index: 10;
  height: 100%;
  width: 100%;
  -webkit-animation: loader 2s 3s ease-in-out forwards;
          animation: loader 2s 3s ease-in-out forwards; }
.loader::after {
  content: "";
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border-radius: 50%;
  position: fixed;
  border-width: 1px;
  border-style: solid;
  border-color: #9356DC;
  background-image: -webkit-linear-gradient(90deg, #FF79DA 10%, #9356DC 90%);
  z-index: 11;
  height: 100px;
  width: 100px;
  -webkit-animation: spinner 4s linear forwards;
          animation: spinner 4s linear forwards; }

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(180deg) scale(1.2); }
  50% {
    transform: rotate(360deg) scale(1.4); }
  75% {
    transform: rotate(540deg) scale(1.2);
    opacity: 1; }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 0; } }

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(180deg) scale(1.2); }
  50% {
    transform: rotate(360deg) scale(1.4); }
  75% {
    transform: rotate(540deg) scale(1.2);
    opacity: 1; }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 0; } }
@-webkit-keyframes loader {
  from {
    transform: scaleY(1); }
  to {
    opacity: 0;
    transform: scaleY(0); } }
@keyframes loader {
  from {
    transform: scaleY(1); }
  to {
    opacity: 0;
    transform: scaleY(0); } }
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 12px 0; }
  .header__logo {
    height: 28.5px; }
  .header__nav {
    position: absolute;
    left: 23px;
    font-size: 1.8rem; }

.search {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .search__title {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    padding: 38px 60px 10px 45px; }
  .search__text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    padding-left: 7px; }
  .search__input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 13px 0 12px 0; }
    .search__input i {
      margin-left: 80px;
      margin-bottom: 5px; }
    .search__input input {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.6rem;
      font-weight: 600;
      margin-left: 15px; }
  .search__validation {
    margin-top: 30px;
    margin-bottom: 56px; }

.working {
  padding: 47px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .working__card {
    cursor: pointer;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 72px;
    width: calc(100% - 11.5px);
    margin-bottom: 2.3rem;
    border-radius: 18px;
    box-shadow: 0px 3px 10px -1px rgba(110, 110, 110, 0.3); }
    .working__card span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: #9356DC;
      color: white;
      margin-left: -11.5px; }
    .working__card i {
      font-size: 1.8rem;
      color: #7E7E7E;
      margin: 0 20px 0 20px;
      padding-left: 11.5px; }
    .working__card p {
      font-weight: 600; }
    .working__card::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #F5EDFF;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      border-radius: 18px; }
    .working__card:hover::after {
      opacity: 1; }
    .working__card:hover i {
      color: #9356DC; }
    .working__card--active {
      background-color: #F5EDFF; }
      .working__card--active i {
        color: #9356DC; }

.menu-layout {
  margin-bottom: 36px; }
  .menu-layout .menu-layout__title {
    padding-left: 5px;
    position: relative;
    margin-bottom: 23px; }
    .menu-layout .menu-layout__title::before {
      content: "";
      border-bottom: 3px solid #99E2d0;
      position: absolute;
      top: 25px;
      width: 40px; }

.restaurants {
  background-color: #f6f6f6;
  margin-top: 51px;
  padding: 53px 20px 0 20px; }
  .restaurants__title {
    margin-bottom: 22px; }
  .restaurants__card {
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 3px 10px -1px rgba(110, 110, 110, 0.3);
    margin-bottom: 16px; }
    .restaurants__card img {
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      width: 100%;
      height: 175px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
    .restaurants__card div {
      display: flex;
      justify-content: space-between;
      padding: 11px 20px 14px 13px;
      line-height: 1.4; }
    .restaurants__card--new::before {
      background-color: #99E2d0;
      color: #008766;
      content: "Nouveau";
      font-weight: 600;
      font-size: 1.4rem;
      border-radius: 3px;
      height: 30px;
      width: 80px;
      right: 4%;
      top: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute; }

.footer {
  margin-top: 65px;
  background-color: #353535;
  color: white;
  padding: 23px 25px 30px 25px; }
  .footer__title {
    font-family: "Shrikhand", cursive;
    font-size: 1.8rem;
    font-weight: normal; }
  .footer__nav {
    padding-top: 12px;
    font-size: 1.6rem;
    line-height: 1.7; }
    .footer__nav a {
      color: white; }
      .footer__nav a i {
        width: 17px;
        margin-right: 5px; }
        .footer__nav a i::before {
          font-size: 1.2rem; }

.home h2 {
  font-size: 2.4rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 27px; }
.home .header {
  box-shadow: 0px 2px 13px 0px rgba(110, 110, 110, 0.5);
  margin-bottom: 5px; }
.home .footer__title {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0; }

.res-menu .background-img {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: -1; }
.res-menu .container {
  padding: 0 14px;
  padding-top: 30px;
  margin-top: -34px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #f6f6f6; }
.res-menu .order-confirm {
  display: flex;
  justify-content: center;
  align-items: center; }
  .res-menu .order-confirm__button {
    width: 188px;
    margin-top: 20px;
    margin-bottom: 53px; }
.res-menu .footer {
  margin-top: 0; }

@media screen and (min-width: 768px) {
      .restaurant-header__name {
        margin-bottom: 0; }
      .restaurant-header__like {
        margin-left: 25px; }
    .restaurant-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: unset;
      margin-bottom: 25px; }
      .search__text {
        padding: 0 15px;
        width: 100%; }
    .search {
      width: 50%;
      align-items: baseline; }
    .working__title {
      text-align: center; }
    .working {
      width: 50%; }
    .menu-layout {
      width: 48%; }
      .restaurants__title {
        text-align: center; }
      .restaurants__card {
        width: 48.5%;
        margin-bottom: 25px; }
    .restaurants {
      width: 100%;
      margin-top: 0;
      padding-top: 20px;
      border-top: 2px solid #eaeaea; }
      .restaurants > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
      .footer__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
    .footer {
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  .home main {
    display: flex;
    flex-flow: row wrap; }
  .home .footer__title {
    text-align: center; }
    .res-menu .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .res-menu .order-confirm {
      width: 48%; } }

@media screen and (min-width: 992px) {
    .menu-layout {
      width: 30%; }
      .restaurants__card {
        width: 31.5%; }
    .res-menu .order-confirm {
      width: 100%; } }

