body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem; 
}

footer {
    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
        font-weight: normal;
    }
}

.menu h1 {
    font-family: 'Shrikhand', cursive;
}

