.res-menu.delice {
    .dishe-card {   
      
        &__price {
          padding: 0 15px 10px 3px;
          transform: translateX(0px);
        }
      
        &__checkbox {
          width: 0px;
          transform: scaleX(1);  
          .fas {
            transform: scaleX(0);
          }
        }
      
        &:hover {   
          .dishe-card__checkbox {
            width: 62px;
            .fas {
            transform: scaleX(1) rotate(360deg);
            }
          }
        }
    }
}