$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2d0;
$color-section-background: #f6f6f6;
$color-component-background: #eaeaea;
$color-active-background: #F5EDFF;
$color-icon-primary: #7E7E7E;
$footer-background: #353535;

